html,
body {
  scroll-behavior: smooth;
}
.tmv {
  opacity: 0;
  transition: all 0.5s;
}
.tmv.active {
  opacity: 1;
}
@font-face {
  font-family: 'Lequire-round';
  src: local('Lequire-round'),
    url('./fonts/Lequire-round/Lequire Rounded.otf') format('opentype');
  font-weight: bold;
}
@font-face {
  font-family: 'Black-past';
  src: local('Lequire-round'),
    url('./fonts/Blackpast/BlackpastDemo-vm2l9.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Cosmic';
  src: local('Cosmic'), url('./fonts/Cosmic/COSMIC__.TTF') format('truetype');
  font-weight: normal;
}
